{% extends "base.html" %}

{% load staticfiles %}

{% block content %}

   
    
       <h1>My List</h1>
    <div>
        <h2> <a href="{% url 'listOfComics:comics_signup' %}" class="btn btn-lg btn-primary">Add New Comic</a> 
        </h2>
    </div>
          
  
   <div class="row">
   
   {% for comic in comics %}
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
        <a href="{% url 'listOfComics:issue_profile' comic.id %}"><img src="{{  comic.cover.url }}" alt="cover"></a>
      <div class="caption">
        <h3>{{comic.title}}</h3>
        
        <p><a href="{% url 'listOfComics:comic_update' comic.id %}" class="btn btn-primary" role="button">Update</a> <a href="{% url 'listOfComics:comic_delete' comic.id %}" class="btn btn-default" role="button">Delete</a></p>
      </div>
    </div>
  </div>
  {% endfor %}
  
</div>
    
{% endblock %}
